<section class="section blogs">
    <div class="container-fluid" style="background: white">
        <div class="row">
            <div class="col-12">
                <div class="wrapp-section-title section-title-center">
                    <h2 class="section-title">Featured Blogs</h2>
                </div>
            </div>
            <% ejsRenderedData.forEach(function (post) { %>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <!-- Begin news item -->
                <article class="news-item item item-style">
                    <a href="<%= post.href %>" class="news-item-img">
                        <img data-src="<%= post.cover %>" class="lazy"
                            src="<%= post.cover %>" alt="tech stack">
                    </a>
                    <div class="news-item-info">
                        <div class="news-item-date button"><%= post.release %></div>
                        <h4 class="news-item-title item-title">
                            <div class="container-fluid" style="background: white;">
                                <a href="<%= post.href %>"
                                    title="<%= post.title %>"><%= post.title %></a>
                            </div>
                        </h4>
                        <div class="news-item-desc">
                            <p>By <%= post.author %></p>
                        </div>
                    </div>
                </article>
                <!-- End news item -->
            </div>
            <% }); %>
            <div class="col-12">
                <div class="section-btns justify-content-center">
                    <a href="https://blog.zairza.in" class="btn btn-widht-ico btn-w240 ripple button  ">
                        <span>See All Blogs</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <style>
        .button {
            background: #a2438f;
        }

        .button:hover {
            background: #4c2452;
        }

        @media only screen and (min-width: 600px) {
            .blogs {
                margin-left: 75px;
                margin-right: 75px;
            }
        }
    </style>
</section>