
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Zairza</title>

	<meta name="description" content="Description">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
	<link rel="stylesheet" href="css/style.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<script src="js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

	<main class="main">

		<div class="main-inner">

			<!-- Begin mobile main menu -->
			<%- include navbar.ejs %>
			<!-- End header -->

			<!-- Begin main banner -->
			<div class="main-banner ">
				<img src="img/Z.png" alt="" height="900px" width="100%">
				<!-- <h2 class="animated fadeInUp">ZAIRZA <br>WONDER.THINK.CREATE </h2> -->
				<style>
					@media only screen and (max-width: 600px){
						.main-banner img{
							width: 100%;
							height: auto;
						}
					}
				</style>
				</div><!-- End main banner -->

			<!-- Begin about us -->
			<%- include aboutus.ejs %>
			<!-- End about us -->

			<!-- Begin why choose us -->
			<%- include whyus.ejs %>
			<!-- End why choose us -->

			<!-- Begin counter section -->
			<%- include achievements.ejs %>
			<!-- End counter section -->

			<!-- Begin latest projects -->
			<!-- End latest projects -->
			<%- include projects.ejs %>

			<!-- Begin team -->
			<%- include team.ejs %>

			<!-- Begin latest blogs -->
			<%- include blogs.ejs %>
			<!-- End latest blogs -->

			<!-- Begin faq -->
			<%- include faq.ejs %>
			<!-- End faq -->


		</div>

		<!-- Begin footer -->
		<%- include footer.ejs %>
		<!-- End footer -->

	</main><!-- End main -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>
